.cart {
  position: relative;
  width: 100vw;
  height: 80vh;
  background-image: url("/cart-background.png");
  background-repeat: no-repeat;
  background-size: fill;
  background-position: center;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.cart .back-button {
  font-size: 1.25rem;
  z-index: 2;
  left: 5%;
  margin-top: 2%;
}

.cart h1 {
  color: white;
  background-color: rgba(136, 136, 136, 0.9);
  border-radius: 8px;
  opacity: 0.9;
  padding: 1rem 2rem;
  position: relative;
  text-align: center;
  z-index: 1;
  margin: 1% 40%;
}

.cart-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin: 5%;
  border-radius: 8px;
  background-color: rgba(136, 136, 136, 0.9);
  color: white;
}

table {
  border-collapse: collapse;
  margin: 2rem 10%;
  font-size: 1.5rem;
}

.table-head-row th {
  width: 10%;
  white-space: wrap;
}

td {
  padding: 1rem;
}

tr {
  border-bottom: 1px solid white;
}

.first-column > div {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 10%;
}

p {
  font-weight: 900;
}

.image-container {
  display: flex;
  justify-self: center;
  width: 10%;
  border: 2px solid green;
  margin: 0.5rem;
  border-radius: 5px;
}

.image-container img {
  object-fit: cover;
  overflow: hidden;
  height: 100%;
  padding: 0.25rem;
}

.empty-cart {
  font-size: 2.5rem;
  background-color: rgb(255, 255, 255, 0.8);
  padding: 1rem 2rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
}

@media only screen and (max-width: 1000px) {
  .cart h1 {
    display: none;
  }

  .cart .back-button {
    font-size: 1.25rem;
    position: relative;
    left: 0;
    right: 0;
    margin: 0.5rem auto;
  }

  .cart-products {
    display: block;
    gap: 1rem;
    margin: 0.5rem;
    padding: 0.1rem;
  }

  table {
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    font-size: 1.25rem;
  }

  .table-head-row th {
    display: none;
  }

  tr {
    display: grid;
    justify-content: center;
    row-gap: 0.25rem;
    grid-template-columns: 30% 15% 15%;
    border-bottom: 1px solid white;
  }

  .first-column > div {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0;
    padding: 0;
    margin: 0;
  }

  .first-column {
    grid-row: span 2;
    align-self: center;
  }

  td {
    justify-self: start;
    align-self: center;
    padding: 0;
    margin: 0;
  }

  .single-price {
    display: none;
  }

  .quantity {
    grid-row: span 2;
    font-size: 1rem;
    grid-column: 2/3;
    justify-self: center;
  }

  .total-price {
    justify-self: end;
    grid-column: 3/4;
    font-size: 1rem;
  }

  .remove-container {
    grid-row: 1/2;
    grid-column: 3/4;
    justify-self: end;
  }

  p {
    font-weight: 600;
    padding: 0;
    margin: 0;
  }

  .image-container {
    height: 45px;
    width: 35px;
    margin: 0 0.25rem;
  }

  .image-container img {
    height: auto;
    padding: 0.1rem;
  }
}

@media only screen and (max-width: 800px) {
  tr {
    grid-template-columns: 40% 15% 15%;
  }
}

@media only screen and (max-width: 600px) {
  tr {
    grid-template-columns: 70% 10% 20%;
    border-bottom: 1px solid white;
  }
}
