.cart {
  position: relative;
  width: 100vw;
}

.cart h1 {
  text-align: center;
}

.cart-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

table {
  border-collapse: collapse;
  margin: 2rem;
  font-size: 1.5rem;
}

.table-head-row th {
  width: 20%;
  white-space: wrap;
}

.table-head-row th:first-child {
  width: 30%;
}

tr {
  border-bottom: 1px solid grey;
}

.first-column > div {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 2rem;
}

p {
  font-weight: 900;
}

.image-container {
  display: flex;
  justify-self: center;
  width: 10%;
  border: 2px solid green;
  margin: 0.5rem;
  border-radius: 5px;
}

.image-container img {
  object-fit: cover;
  overflow: hidden;
  height: 100%;
  padding: 0.25rem;
}
