.cart-item {
  padding: 0 1rem;
}

.remove-button {
  background-color: rgb(255, 135, 135);
  color: white;
  font-size: 0.75rem;
  padding: 0.5rem;
  height: auto;
  width: 2rem;
  border-radius: 50%;
  font-weight: 900;
  transition: 0.4s;
}

.remove-button:hover {
  background-color: rgb(255, 50, 50);
}

.remove-button:active {
  background-color: rgb(185, 0, 0);
}

@media only screen and (max-width: 600px) {
  .cart-item {
    padding: 0.5rem 0;
    width: calc(100vw - 3.2rem);
  }
}
