.cart {
  position: relative;
  width: 100vw;
  height: 80vh;
  background-image: url("/cart-background.png");
  background-repeat: no-repeat;
  background-size: fill;
  background-position: center;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.cart .back-button {
  z-index: 2;
}

.cart h1 {
  position: relative;
  text-align: center;
  z-index: 1;
}

.cart-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin: 5%;
  border-radius: 8px;
  background-color: rgba(136, 136, 136, 0.9);
  color: white;
}

table {
  border-collapse: collapse;
  margin: 2rem 10%;
  font-size: 1.5rem;
}

.table-head-row th {
  width: 10%;
  white-space: wrap;
}

tr {
  border-bottom: 1px solid white;
}

.first-column > div {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 10%;
}

p {
  font-weight: 900;
}

.image-container {
  display: flex;
  justify-self: center;
  width: 10%;
  border: 2px solid green;
  margin: 0.5rem;
  border-radius: 5px;
}

.image-container img {
  object-fit: cover;
  overflow: hidden;
  height: 100%;
  padding: 0.25rem;
}

.empty-cart {
  font-size: 2.5rem;
  background-color: rgb(255, 255, 255, 0.8);
  padding: 1rem 2rem;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
}
