.calculator {
  border-bottom: 1px solid white;
  margin: 0;
  padding: 0 2rem;
  text-align: end;
}

.calculator *:nth-child(n) {
  margin: 0.5rem;
  font-weight: 400;
}

.calculator p:last-child {
  font-weight: 800;
}

@media only screen and (max-width: 800px) {
  .calculator {
    padding: 0.5rem 2rem;
  }

  .calculator *:nth-child(n) {
    margin: 0.15rem;
    font-weight: 400;
  }

  .calculator p:last-child {
    font-weight: 700;
  }
}
