.calculator {
  border-bottom: 1px solid white;
  margin: 1rem;
  padding-bottom: 1rem;
  text-align: end;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 2fr 1fr;
}

.calculator *:nth-child(n) {
  margin: 0.5rem;
  font-weight: 400;
  grid-column: 4/6;
}

.calculator p:last-child {
  font-weight: 900;
}
