.order-summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(134, 134, 134, 0.9);
  border-radius: 8px;
  color: white;
}

.order-items {
  border: none;
  justify-self: stretch;
  margin: 2rem;
}

.total {
  grid-column: span 2;
}

@media only screen and (max-width: 800px) {
  .order-summary {
    grid-template-columns: 1fr;
    padding: 0;
    margin: 0;
  }

  .order-items {
    grid-row: 1/2;
    width: auto;
    margin: 0;
  }
}
