.pay {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("/pay-background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.pay h1 {
  background-color: rgb(255, 255, 255, 0.9);
  padding: 0.5rem 2rem;
  border-radius: 8px;
  color: rgb(128, 128, 128);
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}

.pay h2 {
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  background-color: rgba(255, 37, 37, 0.9);
  font-family: "Raleway", sans-serif;
}

.pay .back-button {
  top: 0.5rem;
  left: 10%;
  right: auto;
  margin: 2rem;
}

@media only screen and (max-width: 1000px) {
  .pay {
    background-size: contain;
    background-repeat: repeat;
  }

  .pay h1 {
    display: none;
  }

  .pay .back-button {
    top: 0;
    position: relative;
    left: 0;
    margin: 0.5rem;
  }

  .pay h2 {
    margin: 0.5rem;
    margin-top: 0;
    padding: 0.5rem;
    font-size: 1.25rem;
  }
}
