.thank-you {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.thank-you button {
  margin-top: 1%;
  position: relative;
}

.thank-you img {
  margin-top: 0;
}

.thank-you p {
  font-weight: 600;
}

@media only screen and (max-width: 800px) {
  .thank-you {
    width: auto;
    margin: 1rem;
    padding: 0;
  }

  .thank-you h1 {
    font-size: 2rem;
  }

  .thank-you h2 {
    font-size: 1.25rem;
  }

  .thank-you img {
    width: 90%;
  }

  .thank-you p {
    font-weight: 500;
    margin: 1rem;
  }

  .thank-you button {
    /* margin: 1rem; */
    font-size: 1rem;
  }
}
