.product-general,
.add-to-cart {
  background-color: rgb(172, 172, 172, 1);
  border: 2px solid white;
  border-radius: 20px;
  width: 150px;
  display: grid;
  grid-template-rows: 3fr 1fr;
  padding: 1rem;
  font-size: 1rem;
  color: white;
  font-family: "Raleway", sans-serif;
}

.product-general {
  height: 200px;
  padding-bottom: 0;
}

.add-to-cart {
  border-top: none;
  height: 112px;
  padding-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.add-to-cart {
  visibility: hidden;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.25rem;
}

.product-item:hover > .add-to-cart,
.add-to-cart:hover {
  cursor: pointer;
  visibility: visible;
}

.product-general:hover,
.product-item:hover > .product-general {
  cursor: pointer;
  border-bottom: none;
  padding-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.product-item h3,
.product-item p {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-item p {
  margin-bottom: 0.5rem;
}

.product-item img {
  border: 2px solid white;
  object-fit: cover;
  height: 125px;
  width: 100%;
  align-self: center;
  justify-self: center;
  border-radius: 15px;
}

.add-button {
  padding: 0.5rem 1rem;
  background-color: green;
  color: white;
  border: 2px solid white;
  outline: none;
  /* transition: 0.4s; */
  font-weight: 700;
}

.add-button:hover {
  background-color: rgb(0, 189, 0);
}

.add-button:active {
  background-color: rgb(0, 165, 0);
  transform: scale(1.1);
}

@media only screen and (max-width: 800px) {
  .product-item {
    width: auto;
  }
}
