.products {
  background-color: rgb(255, 255, 255, 0.8);
  margin: 0 10% 3%;
  padding-top: 2rem;
  border-radius: 8px;
}

.product-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 5%;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .products {
    margin: 2%;
    padding: 1rem;
    background: none;
  }

  .product-items {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    gap: 3rem;
  }
}
