.products {
  margin: 0 10% 3%;
  padding-top: 2rem;
  border-radius: 8px;
}

.product-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  row-gap: 0;
  margin-bottom: 5%;
  padding: 0;
}

@media only screen and (max-width: 800px) {
  .products {
    margin: 2%;
    padding: 1rem;
  }

  .product-items {
    gap: 1rem;
    row-gap: 0;
  }
}
