.product-item {
  border: 1px solid grey;
  border-radius: 8px;
  width: 150px;
  height: 300px;
  display: grid;
  grid-template-rows: 3fr 1fr;
  padding: 1rem;
  font-size: 1rem;
  background-color: rgb(172, 172, 172);
  color: white;
  font-family: "Raleway", sans-serif;
}

.product-item h3,
.product-item p {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-item p {
  margin-bottom: 0.5rem;
}

.product-item img {
  object-fit: cover;
  height: 125px;
  width: 100%;
  align-self: center;
  justify-self: center;
  border-radius: 8px;
}

.add-to-cart {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.25rem;
}

.add-button {
  padding: 0.5rem 1rem;
  background-color: green;
  color: white;
  outline: none;
  transition: 0.4s;
  font-weight: 700;
}

.add-button:hover {
  background-color: rgb(0, 189, 0);
}

.add-button:active {
  background-color: rgb(0, 165, 0);
  transform: scale(1.1);
}

@media only screen and (max-width: 600px) {
  .product-item {
    width: auto;
    background-color: rgb(172, 172, 172, 0.9);
  }
}
