.shop {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/shop-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.shop h1 {
  background-color: white;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  opacity: 0.9;
}

.shop .back-button {
  right: 10%;
  left: auto;
  margin: 2rem;
  border: 3px solid white;
}

@media only screen and (max-width: 800px) {
  .shop {
    background-size: cover;
    background-position: center;
  }

  .shop h1 {
    display: none;
  }

  .shop a {
    position: sticky;
    top: 3.25rem;
    z-index: 1;
  }

  .shop .back-button {
    position: relative;
    right: 0;
    margin: 1rem;
  }
}
