.bullet-item {
  background-color: rgb(228, 228, 228);
  border-radius: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.bullet-item h1 {
  font-size: 1.25rem;
}

.bullet-item p {
  margin-top: 0;
  font-weight: 500;
}

@media only screen and (max-width: 800px) {
  .bullet-item {
    width: 90%;
    padding: 1rem;
  }

  .bullet-list .bullet-item h1 {
    font-size: 1.5rem;
  }

  .bullet-item > p {
    font-size: 1.25rem;
    padding: 0 15%;
  }
}

@media only screen and (max-width: 600px) {
  .bullet-item > p {
    font-size: 1.25rem;
    padding: 0 5%;
  }
}
