.bullet-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 30vh;
  margin: 2rem;
}

@media only screen and (max-width: 600px) {
  .bullet-list {
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    gap: 0.25rem;
    height: auto;
    margin: 0;
    padding: 0;
  }
}
