.bullet-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  height: auto;
  margin: 1rem;
}

@media only screen and (max-width: 800px) {
  .bullet-list {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    gap: 0.25rem;
    height: auto;
    margin: 0;
    padding: 0;
  }
}
