#shop-now {
  background-color: rgb(30, 151, 30);
  color: white;
  font-weight: 900;
  opacity: 1;
  transition: 0.4s;
}

#shop-now:hover {
  background-color: rgb(20, 104, 20);
  transform: scale(1.5);
}

#shop-now:active {
  background-color: rgb(12, 59, 12);
  transform: scale(1);
}

@media only screen and (max-width: 600px) {
  #shop-now {
    margin: 1rem;
    font-size: 1.25rem;
  }
}
