.nav-button {
  background-color: white;
  margin: 1rem;
  padding: 0.5rem 1.75rem;
  position: relative;
}

.nav-button span {
  position: absolute;
  bottom: 0.3rem;
  right: 0.4rem;
  border-radius: 100%;
  margin-left: 0.25rem;
  padding: 0 0.25rem;
  background-color: red;
  color: white;
}
