.nav-button {
  background-color: white;
  margin: 1rem;
  padding: 0.5rem 1.75rem;
  position: relative;
  transition: 0.5s;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
}

.nav-button span {
  position: absolute;
  bottom: 0.3rem;
  right: 0.4rem;
  border-radius: 100%;
  margin-left: 0.25rem;
  padding: 0 0.25rem;
  background-color: red;
  color: white;
  font-size: 0.9rem;
  font-weight: 900;
  transition: 0.5s;
}

.nav-button:hover {
  background-color: rgb(255, 0, 0);
  color: white;
}

.nav-button:active {
  background-color: rgb(168, 0, 0);
}

.nav-button:hover span {
  background-color: white;
  color: red;
}
